<div class="register-container">
  <div class="register-form">
    <h2>Cadastro de Novo Usuário</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <label for="name">Nome Completo</label>
        <input type="text" id="name" [(ngModel)]="userData.nome" name="name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" [(ngModel)]="userData.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Senha</label>
        <input type="password" id="password" [(ngModel)]="userData.senha" name="password" minlength="6" required>
      </div>
      
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <button type="submit">Cadastrar</button>
    </form>
    <div class="login-link">
      <p>Já tem uma conta? <a routerLink="/login">Faça o login</a></p>
    </div>
  </div>
</div>