<main>
  <header class="main-header">
    <div class="logo-container">
      <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 2L2 7V17L12 22L22 17V7L12 2Z" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M2 7L12 12L22 7" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M12 12V22" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <span class="logo-text"> <a routerLink="/dashboard">Sistema IoT</a> </span>
    </div>

    <nav *ngIf="currentUser$ | async as user">
      <span class="welcome-message">Olá, {{ user.nome }}</span>
      <button class="logout-button" (click)="logout()">Sair</button>
    </nav>
  </header>
</main>